node_modules
out
dist
release
.DS_Store
*.log
.idea
.vscode
*.local
temp
captures
launch-log.txt
resources/icon-*.png
*.tsbuildinfo
electron.vite.config.js
electron.vite.config.d.ts
src/**/*.js
src/main/*.d.ts
src/preload/*.d.ts
src/renderer/src/*.d.ts
!src/main/env.d.ts
!src/main/screenshot-desktop.d.ts
!src/renderer/src/env.d.ts
